:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  background-color: white;
}
a {
  font-weight: 500;
  color: #22690a;
  text-decoration: inherit;
}
a:hover {
 opacity: 0.5;
}
.nav-active{
 border-bottom: solid #22690a;
}
.products{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}
/* .getProducts{
  border: 1px solid red;
} */
.product{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 25%;
  height: 35vh;
}
.searchBar{
  width: 300px;
  height: 25px;
  margin-bottom: 3em;
}
.category-name{
  font-size: x-small;
}
.btns{
  display: flex;
  gap: 2em;
}
.inputLabel{
  display: flex;
  justify-content: center;
  gap: 1em;
}
.container-form{
  display: flex;
  flex-direction: column;
}
form{
  display: flex;
  gap: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  width: 200px;
}
/* .product img{
  width: 15%;
  border: solid;
} */
/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* a:hover {
    color: #747bff;
  } */
  button {
    background-color: #f9f9f9;
  }
}
